[color]
	ui = auto
[user]
[user]
[user]
	name = Bishal Timilsina
	email = bishaltimilsina@gmail.com
[diff]
	tool = meld
[merge]
	tool = meld
[mergetool]
	prompt = false
[push]
	default = matching
[pull]
	default = matching
[alias]
        cleanup = "!git branch --merged | grep  -v '\\*\\|master\\|develop' | xargs -n 1 git branch -d"
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[branch]
	autoSetupMerge = always
[core]
	ignorecase = false
